html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.body-wrapper{
    max-width: 1920px;
    margin: 0 auto;
}

/* Quiz creation CSS rules */
h1{
    margin-block: 1em;
}

.separator-line {
    border-left: 1px solid black;
    height: 350px;
    margin: 0 20px;
}

#quizCreation, #quizQuestionCreation {
    margin-bottom: 20px;
}

.centered{
    text-align: center
}

.sideways-delete-btn {
    position: absolute;
    top: 50%; 
    left: 105%;
    transform: translateY(-50%);
}

.sideways-delete-btn:hover {
    cursor: pointer;
}

.sideways-helper-menu {
    position: absolute;
    top: 50%;
    left: 115%;
    transform: translateY(-50%);
}

.button-like-input {
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.is-invalid {
    border: 1px solid red;
}

/* Begin a quest CSS rules */
label.radio {
    cursor: pointer;
}

label.radio span {
    padding: 4px 0px;
    border: 1px solid red;
    display: inline-block;
    color: red;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    margin-top: 7px;
}

label.radio input:checked + span {
    border-color: red;
    background-color: red;
    color: #fff;
}

.ans {
    margin-left: 36px !important;
}