@{
    ViewData["Title"] = "Home Page";
}

<h1 class="position-absolute welcome-header">
    <span class="text-danger fw-bold">W</span><span class="text-success fw-bold">e</span><span class="text-warning fw-bold">l</span><span class="text-primary fw-bold">c</span><span class="text-info fw-bold">o</span><span class="text-primary fw-bold">m</span><span class="text-warning fw-bold">e</span><span class="text-success fw-bold">!</span>
</h1>