@model string

<div class="text-center">
    <h1 class="display-4 text-danger">404 - Not Found</h1>
    <p class="lead text-muted">Sorry, the page you're looking for could not be found.</p>
    <p class="lead text-muted fw-bolder">@Model</p>
    <p>It seems the page has been moved or does not exist.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go to Homepage</a>
</div>