@using AnimeQSystem.Web.Models.Mix
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<IdentityUser> SignInManager

@{
    UserDetailsVFModel? currentUser = Context.Items["CurrentUser"] as UserDetailsVFModel;
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a asp-controller="Profile" asp-action="Details" asp-route-userId="@(User.FindFirstValue(ClaimTypes.NameIdentifier))" class="profile-icon-link">
            <img src=@(currentUser?.ProfilePicData is not null ? $"data:image/jpeg;base64,{Convert.ToBase64String(currentUser.ProfilePicData)}" : "~/images/users/defaultuser.jpg") alt="User Profile" class="profile-icon">
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
