@using AnimeQSystem.Web.Models.ViewModels.AnimeQuiz;

@model AllQuizzesViewModel

<div class="text-align-center">
    <h1 class="fw-light mb-1">Begin a quiz!</h1>
    <p class="lead text-body-secondary">Step into the world of anime and put your knowledge to the test!</p>
</div>

<div class="album bg-body-tertiary mt-4">
    <div class="container">

        <div class="row row-cols-1 row-cols-md-4 g-2">
            @foreach(QuizCardViewModel quiz in Model.AllQuizzes)
            {
                <partial name="_QuizCard" model="quiz"/>
            }
        </div>
    </div>
</div>