@using AnimeQSystem.Web.Models.ViewModels.AnimeQuiz;

@model AllQuizzesViewModel

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Begin a quiz!</h1>
            <p class="lead text-body-secondary">Step into the world of anime and put your knowledge to the test! 
                Whether you're a seasoned fan or just starting your journey, every quiz is an adventure waiting to be conquered. 
                Take on our anime quests, earn bragging rights, and prove you're the ultimate anime quiz champion!
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-md-4 g-2">
            @foreach(QuizCardViewModel quiz in Model.AllQuizzes)
            {
                <partial name="_QuizCard" model="quiz"/>
            }
        </div>
    </div>
</div>